# How to import dataset in python using pandas library
**Written by:**  hussain

**Date:** 30-may-2023

In [2]:
import pandas as pd

In [6]:
# to read data using excel we have to download this library as well of python
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     --------------                          92.2/250.0 kB 1.7 MB/s eta 0:00:01
     ----------------------------------     225.3/250.0 kB 2.3 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 2.2 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [8]:
#read data

# pd.read_excel("pandas_01_day6.xlsx")
df=pd.read_excel("pandas_01_day6.xlsx")

In [9]:
print(df)

    height  weight favourite dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [12]:
# to read data from very first rows
df.head()

   height  weight favourite dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [13]:
# to read data from very last rows
df.tail()

    height  weight favourite dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [15]:
# to check shape means rows X cloumns of data
df.shape

(87, 3)

In [16]:
# to check specific number of rows 

df.head(3)

   height  weight favourite dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB