# PANDAS - DAY 3 ( TIPS AND TRICKS )

### 01 . How to find the version?

In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

In [5]:
pd.show_versions()

c:\Users\Administrator\AppData\Local\Programs\Python\Python311\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 2e218d10984e9919f0296931d92ea851c6a6faf5
python           : 3.11.1.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22000
machine          : AMD64
processor        : Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.5.3
numpy            : 1.24.2
pytz             : 2022.7.1
dateutil         : 2.8.2
setuptools       : 65.5.0
pip              : 23.1.2
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.13.2
pandas_datareader: None
bs4              : 4.11.2
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.7.1
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : 3.1.2
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : None
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

### 02- Making a Data Frame

In [10]:
df=pd.DataFrame({'Name ':["Uzair","Abbas","Lahad","Razi","Bilal"],'Age ': [20,19,21,22,19]})

In [11]:
df

   Name   Age
0  Uzair    20
1  Abbas    19
2  Lahad    21
3   Razi    22
4  Bilal    19

In [13]:
df.head()

   Name   Age
0  Uzair    20
1  Abbas    19
2  Lahad    21
3   Razi    22
4  Bilal    19

In [14]:
df.tail()

   Name   Age
0  Uzair    20
1  Abbas    19
2  Lahad    21
3   Razi    22
4  Bilal    19

In [15]:
df

   Name   Age
0  Uzair    20
1  Abbas    19
2  Lahad    21
3   Razi    22
4  Bilal    19

In [18]:
# numpy array to create dataframe
import numpy as np
arr=np.array([['Uzair',20],['Abbas',19],['Lahad',21],['Razi',22],['Bilal',19]])
# arr
df=pd.DataFrame(arr,columns=['Name','Age'])
df

    Name Age
0  Uzair  20
1  Abbas  19
2  Lahad  21
3   Razi  22
4  Bilal  19

In [25]:
# numpy array data frame
pd.DataFrame(np.random.rand(5,2))
pd.DataFrame(np.random.rand(5,2), columns=list("AB"))

          A         B
0  0.594315  0.381209
1  0.331848  0.157232
2  0.712960  0.184831
3  0.237691  0.848901
4  0.326512  0.925356

In [27]:
pd.DataFrame(np.random.rand(50,20))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.476970,0.971715,0.171322,0.096842,0.170747,0.128484,0.151573,0.781113,0.190655,0.936126,0.294357,0.550883,0.697145,0.283324,0.298271,0.765260,0.921432,0.092944,0.873036,0.425970
1,0.085837,0.784731,0.650310,0.509409,0.328697,0.939738,0.118383,0.270055,0.781970,0.070137,0.978881,0.414665,0.433413,0.502197,0.107680,0.194890,0.187293,0.377254,0.793367,0.292250
2,0.945632,0.158445,0.856832,0.562940,0.138172,0.137193,0.675871,0.905951,0.886729,0.934190,0.511423,0.751439,0.532319,0.544479,0.850181,0.358860,0.590205,0.994228,0.207128,0.250632
3,0.914025,0.689922,0.352097,0.092385,0.162663,0.137718,0.544724,0.318365,0.653633,0.634679,0.453769,0.068000,0.570962,0.129866,0.705473,0.633465,0.503839,0.051663,0.759636,0.358254
4,0.021880,0.842420,0.926421,0.076815,0.276106,0.995143,0.515722,0.528367,0.721880,0.025628,0.476784,0.095758,0.255125,0.325217,0.155723,0.807496,0.439577,0.564025,0.246270,0.215883
5,0.014206,0.303479,0.708456,0.956972,0.608002,0.567955,0.081463,0.475716,0.337608,0.362148,0.954675,0.134694,0.087971,0.158164,0.078567,0.735444,0.170169,0.576247,0.944465,0.333471
6,0.930111,0.197729,0.017197,0.674976,0.089906,0.492142,0.681200,0.943557,0.243870,0.223805,0.901085,0.882128,0.476823,0.904318,0.961538,0.201142,0.339451,0.205186,0.415574,0.246709
7,0.027903,0.615354,0.542529,0.714584,0.340587,0.596382,0.302708,0.795172,0.108232,0.018755,0.507168,0.066624,0.412075,0.998347,0.966661,0.248310,0.572199,0.885138,0.776007,0.216120
8,0.162358,0.166176,0.750051,0.742218,0.626747,0.350505,0.916193,0.036503,0.245677,0.464927,0.051374,0.466777,0.250021,0.255471,0.672670,0.068949,0.076613,0.995054,0.880338,0.372147
9,0.529970,0.669565,0.970183,0.656581,0.755517,0.988743,0.919770,0.806441,0.349395,0.998450,0.975107,0.995495,0.986257,0.497305,0.804772,0.995038,0.376991,0.581962,0.410773,0.988021
10,0.375956,0.327146,0.925454,0.158738,0.052713,0.602231,0.121930,0.017674,0.866941,0.797760,0.638364,0.394544,0.054217,0.992103,0.164566,0.531304,0.471577,0.992239,0.682127,0.210887
11,0.104387,0.018290,0.213593,0.201032,0.062374,0.902930,0.411929,0.797005,0.375772,0.482248,0.932412,0.535747,0.233077,0.188113,0.796033,0.028491,0.981995,0.069592,0.009287,0.373797
12,0.365773,0.616417,0.364508,0.913775,0.639854,0.366424,0.617350,0.153623,0.832457,0.830151,0.292349,0.253920,0.795741,0.216887,0.446937,0.695926,0.985154,0.458892,0.182871,0.462047
13,0.196359,0.725086,0.876901,0.778430,0.841480,0.594197,0.318270,0.418137,0.507287,0.853050,0.982461,0.398746,0.045270,0.167785,0.054612,0.179194,0.074469,0.259309,0.436102,0.860420
14,0.661147,0.002298,0.814235,0.144891,0.015569,0.410581,0.067091,0.137722,0.793723,0.348376,0.360990,0.786658,0.885615,0.323991,0.463190,0.637284,0.347976,0.178388,0.861641,0.105381
15,0.067347,0.631535,0.255295,0.277889,0.046921,0.415837,0.162268,0.483775,0.031769,0.697777,0.756716,0.185766,0.993697,0.979804,0.700537,0.719904,0.902668,0.974925,0.572768,0.568909
16,0.974067,0.766639,0.198548,0.743451,0.379445,0.864537,0.115853,0.760909,0.618474,0.749951,0.926835,0.736084,0.974508,0.020139,0.016422,0.487841,0.332515,0.212795,0.244330,0.658737
17,0.869494,0.709564,0.835348,0.129325,0.198627,0.636056,0.805563,0.436995,0.661939,0.291324,0.999041,0.412290,0.884098,0.360291,0.893679,0.541082,0.679291,0.622686,0.220416,0.604715
18,0.462286,0.399074,0.429094,0.361480,0.232729,0.212178,0.240739,0.275423,0.223067,0.548093,0.734644,0.038830,0.814012,0.389019,0.637301,0.977874,0.737509,0.192088,0.301813,0.412906
19,0.349657,0.775714,0.093047,0.011942,0.893368,0.082382,0.393252,0.091470,0.648487,0.108396,0.200603,0.358454,0.346317,0.760155,0.915413,0.567990,0.985505,0.874999,0.320413,0.407028
20,0.553051,0.309491,0.209351,0.248122,0.801860,0.159714,0.533128,0.162269,0.160010,0.175462,0.378674,0.951731,0.651003,0.241579,0.737495,0.610613,0.887088,0.309431,0.395797,0.509828
21,0.432713,0.810364,0.196024,0.950995,0.349964,0.526493,0.256427,0.334581,0.319086,0.388786,0.068055,0.167675,0.426645,0.989053,0.151638,0.562464,0.414325,0.444490,0.741258,0.818869
22,0.107126,0.428519,0.395259,0.881555,0.440284,0.254792,0.642725,0.434942,0.434559,0.351935,0.956005,0.320533,0.004801,0.786180,0.477140,0.760885,0.883817,0.716328,0.241982,0.324341
23,0.898889,0.789375,0.925351,0.828073,0.729433,0.378238,0.344317,0.627586,0.856516,0.146836,0.420231,0.388724,0.652952,0.729569,0.387698,0.155155,0.543242,0.796516,0.212580,0.967260
24,0.526015,0.671525,0.759867,0.678495,0.733978,0.664809,0.597856,0.956203,0.277748,0.859759,0.023175,0.088773,0.376000,0.966741,0.909140,0.086142,0.178927,0.821916,0.541290,0.390467
25,0.825138,0.132993,0.920566,0.732768,0.264310,0.744749,0.400844,0.423262,0.144648,0.010105,0.369055,0.210708,0.046826,0.150690,0.375074,0.713517,0.708013,0.473400,0.626842,0.841995
26,0.431690,0.779265,0.487584,0.697422,0.118017,0.050979,0.920655,0.621318,0.452066,0.560532,0.448332,0.037845,0.696540,0.016691,0.225122,0.540625,0.581780,0.686121,0.394046,0.254373
27,0.802433,0.159064,0.714159,0.928881,0.659968,0.754878,0.559886,0.238239,0.383865,0.369680,0.223388,0.367529,0.904730,0.683860,0.969396,0.599529,0.488156,0.525518,0.009518,0.253782
28,0.346387,0.529971,0.126665,0.537945,0.161775,0.860221,0.735778,0.017004,0.230547,0.371873,0.928623,0.816773,0.047383,0.749748,0.439784,0.913515,0.748335,0.974302,0.992925,0.597396
29,0.293896,0.835163,0.605739,0.240097,0.057492,0.622338,0.821441,0.260219,0.041919,0.877649,0.749845,0.778611,0.450842,0.686176,0.558991,0.976289,0.030462,0.091029,0.982841,0.193476
30,0.191511,0.637698,0.191078,0.515305,0.686139,0.711054,0.557113,0.479478,0.452683,0.538086,0.565576,0.742030,0.116850,0.083148,0.953396,0.547338,0.413804,0.754455,0.944050,0.436364
31,0.035730,0.279380,0.079035,0.205777,0.596693,0.053820,0.685976,0.755734,0.523373,0.104322,0.346427,0.064994,0.864185,0.205262,0.549552,0.511220,0.513647,0.577505,0.034561,0.978128
32,0.123803,0.312242,0.752314,0.792719,0.831106,0.555137,0.797348,0.074055,0.431662,0.782068,0.879195,0.020216,0.544210,0.074532,0.084435,0.616232,0.839019,0.347595,0.230457,0.828588
33,0.864283,0.417099,0.800283,0.919044,0.026709,0.152755,0.841028,0.056916,0.295090,0.540617,0.257609,0.858881,0.257947,0.384460,0.840549,0.989562,0.782489,0.044969,0.099532,0.693739
34,0.896190,0.580271,0.740601,0.139006,0.094761,0.837459,0.943468,0.042746,0.527678,0.971338,0.865754,0.428433,0.615983,0.324779,0.427657,0.681161,0.089949,0.026740,0.017952,0.156661
35,0.845279,0.044842,0.211861,0.507841,0.609951,0.487306,0.472706,0.065070,0.675665,0.066488,0.289530,0.549747,0.299594,0.414800,0.147693,0.703403,0.361267,0.673507,0.844919,0.934742
36,0.854495,0.191340,0.385187,0.169497,0.850580,0.034741,0.787433,0.000256,0.619587,0.963189,0.901303,0.982771,0.904177,0.050184,0.549009,0.964048,0.019570,0.685856,0.886453,0.023842
37,0.104597,0.003335,0.658142,0.825137,0.361989,0.242719,0.087669,0.100271,0.955278,0.385022,0.541101,0.191854,0.529302,0.230117,0.809355,0.006031,0.432847,0.571188,0.952439,0.276273
38,0.432710,0.213929,0.423748,0.016759,0.712348,0.568098,0.197015,0.980145,0.623342,0.679860,0.457951,0.144727,0.117844,0.048316,0.422610,0.064854,0.081661,0.103282,0.495703,0.989944
39,0.926878,0.044947,0.253689,0.616244,0.302456,0.727297,0.261254,0.314672,0.074367,0.813282,0.539380,0.837144,0.938460,0.331725,0.185905,0.218686,0.068099,0.769512,0.615810,0.973692
40,0.529504,0.355928,0.372027,0.242036,0.112126,0.642939,0.477351,0.652882,0.449104,0.436176,0.890770,0.007877,0.710310,0.829545,0.922690,0.104042,0.568618,0.126095,0.333521,0.895852
41,0.769931,0.887105,0.951792,0.672497,0.448468,0.533403,0.486487,0.899650,0.927109,0.512790,0.736696,0.743273,0.825396,0.462859,0.336757,0.756907,0.898891,0.627208,0.005591,0.802212
42,0.842768,0.961158,0.786220,0.505755,0.808950,0.155054,0.819818,0.773267,0.951520,0.242976,0.562607,0.082668,0.323338,0.562239,0.947643,0.946012,0.135704,0.100793,0.327709,0.791728
43,0.683939,0.122149,0.273882,0.482437,0.917604,0.413492,0.200789,0.452600,0.836210,0.527120,0.414358,0.331091,0.540815,0.000515,0.473185,0.910340,0.935588,0.324224,0.673070,0.970735
44,0.945368,0.721185,0.708012,0.854687,0.399238,0.227113,0.114013,0.988997,0.403273,0.675172,0.724379,0.888126,0.330469,0.676911,0.359518,0.656294,0.559948,0.391958,0.010100,0.316129
45,0.238116,0.624069,0.060055,0.520333,0.323630,0.408056,0.395650,0.484772,0.305278,0.881991,0.663988,0.610469,0.396726,0.994586,0.113052,0.238688,0.020919,0.418289,0.603926,0.576662
46,0.599754,0.824366,0.795076,0.328279,0.127589,0.497147,0.765735,0.434653,0.825019,0.262817,0.134533,0.029707,0.516294,0.994213,0.390932,0.234885,0.448115,0.578099,0.133736,0.072224
47,0.960920,0.934931,0.767985,0.781440,0.759650,0.119527,0.099513,0.800708,0.871740,0.168949,0.387007,0.837554,0.511796,0.042146,0.378085,0.556264,0.090748,0.848836,0.935225,0.610990
48,0.807210,0.940126,0.322166,0.821440,0.968819,0.739056,0.264187,0.015841,0.487132,0.741502,0.207037,0.125041,0.129792,0.779901,0.128461,0.843836,0.369810,0.383808,0.705840,0.499206
49,0.358562,0.539283,0.572423,0.045167,0.341410,0.001682,0.668660,0.727454,0.987922,0.302301,0.777865,0.774625,0.656001,0.354507,0.617335,0.241072,0.745093,0.339044,0.467674,0.807551

In [28]:
df

    Name Age
0  Uzair  20
1  Abbas  19
2  Lahad  21
3   Razi  22
4  Bilal  19

In [36]:
# how to rename column names
df=pd.DataFrame({'A col ':[1,2,3,4,5],'B col ': [20,19,18,17,16]})

In [41]:
df.rename(columns={'A col': 'a col','B col':'b col'}, inplace=True)

In [42]:
df

   A col   B col
0       1      20
1       2      19
2       3      18
3       4      17
4       5      16

In [49]:
df.columns=['aa_col','bb_col']

In [50]:
df

   aa_col  bb_col
0       1      20
1       2      19
2       3      18
3       4      17
4       5      16

In [57]:
# to replace any character, string, lateral
df.columns=df.columns.str.replace('_',' ')

In [58]:
df

   aa col  bb col
0       1      20
1       2      19
2       3      18
3       4      17
4       5      16