# PANDAS - DAY 3 ( TIPS AND TRICKS )

### 01 . How to find the version?

In [81]:
import pandas as pd

In [82]:
pd.__version__

'1.5.3'

In [83]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2e218d10984e9919f0296931d92ea851c6a6faf5
python           : 3.11.1.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22000
machine          : AMD64
processor        : Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.5.3
numpy            : 1.24.2
pytz             : 2022.7.1
dateutil         : 2.8.2
setuptools       : 65.5.0
pip              : 23.1.2
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.13.2
pandas_datareader: None
bs4              : 4.11.2
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.7.1
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : 3.1.2
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : None
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

### 02- Making a Data Frame

In [84]:
df=pd.DataFrame({'Name ':["Uzair","Abbas","Lahad","Razi","Bilal"],'Age ': [20,19,21,22,19]})

In [85]:
df

   Name   Age
0  Uzair    20
1  Abbas    19
2  Lahad    21
3   Razi    22
4  Bilal    19

In [86]:
df.head()

   Name   Age
0  Uzair    20
1  Abbas    19
2  Lahad    21
3   Razi    22
4  Bilal    19

In [87]:
df.tail()

   Name   Age
0  Uzair    20
1  Abbas    19
2  Lahad    21
3   Razi    22
4  Bilal    19

In [88]:
df

   Name   Age
0  Uzair    20
1  Abbas    19
2  Lahad    21
3   Razi    22
4  Bilal    19

In [89]:
# numpy array to create dataframe
import numpy as np
arr=np.array([['Uzair',20],['Abbas',19],['Lahad',21],['Razi',22],['Bilal',19]])
# arr
df=pd.DataFrame(arr,columns=['Name','Age'])
df

    Name Age
0  Uzair  20
1  Abbas  19
2  Lahad  21
3   Razi  22
4  Bilal  19

In [90]:
# numpy array data frame
pd.DataFrame(np.random.rand(5,2))
pd.DataFrame(np.random.rand(5,2), columns=list("AB"))

          A         B
0  0.278243  0.418404
1  0.908200  0.615883
2  0.743958  0.460487
3  0.356652  0.667198
4  0.215895  0.360772

In [91]:
pd.DataFrame(np.random.rand(50,20))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.910426,0.984221,0.585666,0.483342,0.498771,0.894047,0.275121,0.583633,0.354571,0.310011,0.824031,0.778300,0.973528,0.682254,0.920073,0.539406,0.983816,0.165174,0.186302,0.885415
1,0.279733,0.322055,0.582497,0.183553,0.943431,0.471270,0.538922,0.576152,0.569330,0.326844,0.951612,0.227478,0.634979,0.508718,0.618252,0.960235,0.579503,0.497278,0.773198,0.205861
2,0.724469,0.377658,0.462597,0.867288,0.185364,0.242394,0.868269,0.587095,0.352327,0.474407,0.459503,0.254810,0.475175,0.932966,0.250953,0.417070,0.086517,0.258566,0.195910,0.645448
3,0.446022,0.148933,0.067572,0.793884,0.928829,0.805732,0.480135,0.824563,0.905847,0.928304,0.173627,0.282250,0.053437,0.154212,0.022534,0.365087,0.453639,0.063778,0.628744,0.143671
4,0.200406,0.053566,0.556001,0.773816,0.875777,0.227654,0.412457,0.503749,0.457440,0.190950,0.427556,0.296539,0.161625,0.939406,0.973317,0.419197,0.200602,0.795517,0.669453,0.821954
5,0.311267,0.263111,0.065998,0.760365,0.623919,0.647019,0.529080,0.302666,0.535909,0.283377,0.421808,0.796184,0.633316,0.118463,0.113456,0.872234,0.483574,0.339825,0.284493,0.150690
6,0.525316,0.387964,0.430465,0.766817,0.216552,0.248701,0.850185,0.478556,0.387370,0.236788,0.932473,0.629257,0.316327,0.359377,0.279083,0.528464,0.000094,0.945512,0.860357,0.250223
7,0.356766,0.195036,0.313733,0.459280,0.557863,0.620549,0.794235,0.312699,0.938568,0.709355,0.833216,0.149150,0.823402,0.996246,0.606826,0.706589,0.699788,0.042248,0.440158,0.746818
8,0.118394,0.016724,0.551932,0.604151,0.654550,0.908503,0.087766,0.916413,0.018581,0.693038,0.922610,0.283498,0.663571,0.979640,0.159167,0.022552,0.425933,0.702632,0.479557,0.236243
9,0.389092,0.783423,0.093649,0.119682,0.995603,0.298568,0.862280,0.189874,0.042605,0.628573,0.355727,0.599975,0.930736,0.222116,0.913901,0.396581,0.221105,0.484193,0.765393,0.669684
10,0.073548,0.863254,0.235867,0.541024,0.000383,0.371371,0.610663,0.918404,0.615926,0.940586,0.533250,0.640546,0.418158,0.681239,0.859991,0.279194,0.924279,0.059888,0.887714,0.326538
11,0.654274,0.169474,0.853186,0.615396,0.262010,0.871835,0.363453,0.683354,0.723113,0.118333,0.722631,0.360891,0.545244,0.634288,0.039350,0.330429,0.049995,0.361424,0.011101,0.044897
12,0.875487,0.920070,0.288716,0.659010,0.382649,0.230336,0.291920,0.734108,0.624223,0.313242,0.246923,0.341218,0.753246,0.072630,0.305748,0.828098,0.097525,0.301995,0.162391,0.369027
13,0.950511,0.195351,0.460846,0.141999,0.569365,0.831003,0.807448,0.880433,0.215723,0.652906,0.930200,0.765336,0.030184,0.119752,0.373300,0.436900,0.634738,0.380026,0.587939,0.358076
14,0.825786,0.635699,0.260432,0.482022,0.131621,0.186203,0.497048,0.422281,0.796351,0.695580,0.627450,0.880655,0.761845,0.246120,0.716529,0.122929,0.856162,0.429874,0.557546,0.792123
15,0.090732,0.978509,0.595712,0.405307,0.967169,0.356802,0.320509,0.046863,0.555868,0.343936,0.429743,0.064088,0.444822,0.115007,0.448099,0.789187,0.703439,0.161661,0.388849,0.243771
16,0.253639,0.512027,0.577577,0.413192,0.410582,0.951889,0.811238,0.594382,0.000348,0.638864,0.847087,0.615600,0.509169,0.748473,0.839840,0.993673,0.410310,0.049277,0.566847,0.850563
17,0.247697,0.629398,0.471225,0.975788,0.823240,0.536646,0.433243,0.460334,0.027434,0.125072,0.440941,0.570561,0.822499,0.352710,0.743148,0.466441,0.349695,0.431587,0.588653,0.699420
18,0.959833,0.355250,0.513764,0.389998,0.618864,0.335664,0.335008,0.097291,0.090864,0.916912,0.500198,0.880978,0.104552,0.336300,0.413318,0.570062,0.486915,0.589649,0.579594,0.805585
19,0.888581,0.596755,0.996116,0.899775,0.061515,0.790934,0.101290,0.752320,0.978659,0.153762,0.505764,0.660213,0.667471,0.723831,0.207748,0.831534,0.049274,0.508764,0.150787,0.924784
20,0.673044,0.893253,0.333871,0.127381,0.772715,0.701105,0.175044,0.071194,0.256449,0.484302,0.488261,0.270812,0.197932,0.490881,0.161714,0.122498,0.875068,0.246138,0.715919,0.136150
21,0.088282,0.153922,0.212287,0.816992,0.579371,0.600528,0.556225,0.565007,0.953753,0.305424,0.576699,0.299263,0.061365,0.525374,0.736008,0.515008,0.154252,0.670066,0.300934,0.503601
22,0.219169,0.031766,0.830852,0.529880,0.700556,0.893720,0.782925,0.278154,0.144043,0.229530,0.993803,0.147666,0.158432,0.251266,0.717018,0.420381,0.858014,0.749259,0.025913,0.739379
23,0.874887,0.989641,0.131322,0.723624,0.489880,0.191823,0.392828,0.116601,0.056014,0.349921,0.081915,0.556340,0.041917,0.041097,0.468862,0.598810,0.082805,0.481640,0.742610,0.916852
24,0.765528,0.715844,0.955162,0.819102,0.988259,0.877317,0.816484,0.698962,0.379234,0.826074,0.177081,0.188300,0.348143,0.893064,0.691334,0.905622,0.198692,0.683594,0.853087,0.651209
25,0.031697,0.042861,0.094694,0.194527,0.934514,0.651887,0.228123,0.928153,0.548134,0.924554,0.907099,0.816806,0.253100,0.901266,0.377444,0.319186,0.760431,0.434464,0.378980,0.893679
26,0.955773,0.628518,0.656702,0.615905,0.371670,0.599060,0.397819,0.492620,0.184285,0.208941,0.594796,0.344822,0.025532,0.281033,0.295328,0.366302,0.868468,0.839399,0.153302,0.854836
27,0.943601,0.349473,0.785209,0.024622,0.710118,0.147088,0.245241,0.741987,0.155122,0.066873,0.253809,0.774125,0.291724,0.826850,0.007716,0.175381,0.010260,0.349701,0.779339,0.532886
28,0.500080,0.552555,0.814800,0.861510,0.191326,0.701974,0.909946,0.232190,0.126421,0.079930,0.464197,0.180138,0.523105,0.258908,0.763304,0.650178,0.175274,0.710273,0.391054,0.489050
29,0.235201,0.241884,0.107575,0.796918,0.490216,0.663146,0.283497,0.164120,0.310470,0.959393,0.360628,0.393691,0.422740,0.237790,0.545095,0.003371,0.335469,0.577688,0.315885,0.307121
30,0.819282,0.429049,0.339448,0.824001,0.533968,0.855349,0.793177,0.312450,0.142099,0.843578,0.133571,0.521101,0.214102,0.544079,0.621013,0.675187,0.941832,0.601438,0.298134,0.964356
31,0.802227,0.213834,0.237311,0.722774,0.932462,0.529760,0.062089,0.389327,0.510539,0.702445,0.940892,0.144957,0.301816,0.785792,0.577596,0.161146,0.012152,0.257271,0.589632,0.904683
32,0.305118,0.200426,0.073595,0.116974,0.468532,0.947309,0.035037,0.047285,0.380638,0.327935,0.696371,0.864317,0.142201,0.691073,0.560183,0.030236,0.870546,0.865702,0.490870,0.599077
33,0.036113,0.156917,0.187292,0.015788,0.441416,0.256369,0.338942,0.723668,0.414439,0.749589,0.298729,0.988811,0.500377,0.060465,0.400803,0.033775,0.778938,0.382153,0.054259,0.334906
34,0.184673,0.734526,0.505756,0.279997,0.990005,0.730954,0.420969,0.733051,0.649105,0.905001,0.590451,0.128436,0.003957,0.054604,0.504143,0.069906,0.100779,0.669114,0.652249,0.945268
35,0.549966,0.935965,0.601071,0.046356,0.329464,0.759513,0.166280,0.849480,0.339604,0.034391,0.086191,0.762690,0.654511,0.757206,0.260340,0.006365,0.475027,0.892430,0.353302,0.182691
36,0.831977,0.214095,0.203867,0.005825,0.285655,0.237951,0.089710,0.006036,0.213634,0.017219,0.056025,0.860128,0.969555,0.498357,0.937513,0.871644,0.485353,0.600554,0.663235,0.370192
37,0.606659,0.678626,0.084038,0.434024,0.138152,0.355116,0.455147,0.233918,0.117318,0.550697,0.081279,0.885876,0.807767,0.276051,0.978704,0.184669,0.348877,0.389001,0.011663,0.980434
38,0.105462,0.010861,0.073532,0.923107,0.728587,0.265884,0.063814,0.426727,0.328256,0.485902,0.592292,0.807129,0.352761,0.219341,0.532894,0.871727,0.031002,0.124554,0.485062,0.139186
39,0.042891,0.001032,0.576854,0.738561,0.932682,0.220590,0.899800,0.355152,0.859967,0.911329,0.615584,0.938839,0.092953,0.481549,0.303960,0.865168,0.065642,0.691451,0.824377,0.275749
40,0.099787,0.721225,0.214087,0.645345,0.127706,0.158372,0.728873,0.281408,0.989269,0.791644,0.360696,0.323251,0.425093,0.122862,0.228674,0.370621,0.872448,0.432205,0.594278,0.868799
41,0.824202,0.990324,0.863736,0.488603,0.407665,0.356391,0.785571,0.121098,0.840008,0.842421,0.386389,0.176168,0.528567,0.438798,0.036199,0.551814,0.666002,0.052870,0.984362,0.260202
42,0.541224,0.922941,0.475079,0.986587,0.325021,0.039982,0.227399,0.673124,0.886132,0.020491,0.856371,0.807303,0.830904,0.832038,0.725553,0.320084,0.135867,0.638983,0.213758,0.300896
43,0.124681,0.497247,0.045478,0.603821,0.661385,0.159741,0.646557,0.857473,0.334401,0.696718,0.313765,0.263026,0.148121,0.171969,0.748343,0.535879,0.879811,0.770059,0.417484,0.886459
44,0.953805,0.268257,0.830811,0.063930,0.633277,0.045719,0.220335,0.704814,0.455403,0.777572,0.602723,0.864796,0.485535,0.977561,0.099211,0.684476,0.941801,0.475023,0.647626,0.294205
45,0.897790,0.679690,0.105994,0.108718,0.859831,0.414670,0.810973,0.603794,0.874996,0.740510,0.486332,0.022464,0.564895,0.954107,0.235690,0.641293,0.092536,0.883668,0.932066,0.845669
46,0.343137,0.738538,0.024510,0.432281,0.789398,0.525215,0.193442,0.827367,0.598014,0.523650,0.868484,0.007634,0.189660,0.505746,0.807865,0.447398,0.928435,0.940635,0.134137,0.715606
47,0.514739,0.954959,0.885519,0.651599,0.091609,0.462035,0.557961,0.875218,0.141025,0.926990,0.830453,0.883666,0.019088,0.997682,0.056445,0.429204,0.245290,0.301651,0.338782,0.529219
48,0.269155,0.369558,0.559325,0.766822,0.966556,0.705086,0.117469,0.968078,0.716370,0.982970,0.971231,0.015428,0.310482,0.704979,0.075589,0.901755,0.230768,0.920623,0.047444,0.960758
49,0.318198,0.800819,0.789017,0.906650,0.109580,0.145384,0.907319,0.685800,0.962603,0.891970,0.013905,0.288577,0.395998,0.833393,0.567341,0.548638,0.291239,0.443673,0.956328,0.323854

In [92]:
df

    Name Age
0  Uzair  20
1  Abbas  19
2  Lahad  21
3   Razi  22
4  Bilal  19

In [93]:
# how to rename column names
df=pd.DataFrame({'A col ':[1,2,3,4,5],'B col ': [20,19,18,17,16]})

In [94]:
df.rename(columns={'A col': 'a col','B col':'b col'}, inplace=True)

In [95]:
df

   A col   B col
0       1      20
1       2      19
2       3      18
3       4      17
4       5      16

In [96]:
df.columns=['aa_col','bb_col']

In [97]:
df

   aa_col  bb_col
0       1      20
1       2      19
2       3      18
3       4      17
4       5      16

In [98]:
# to replace any character, string, lateral
df.columns=df.columns.str.replace('_',' ')

In [99]:
df

   aa col  bb col
0       1      20
1       2      19
2       3      18
3       4      17
4       5      16

In [100]:
# adding prefix
df.add_prefix('UHS_')

   UHS_aa col  UHS_bb col
0           1          20
1           2          19
2           3          18
3           4          17
4           5          16

In [101]:
# adding suffix
df.add_suffix('_UHS')

   aa col_UHS  bb col_UHS
0           1          20
1           2          19
2           3          18
3           4          17
4           5          16

# 4 using template data

In [102]:
import pandas as pd
import numpy as np
import seaborn as sns

kashti = sns.load_dataset('titanic')
kashti.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [103]:
#  summary
kashti.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [104]:
# cloumns names
kashti.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [105]:
# saving a template dataset

kashti.to_csv('kashti.csv')

In [106]:
# saving to excel
kashti.to_excel('kashti.xlsx')

In [107]:
# viewing csv file
kashti=pd.read_csv('kashti.csv')
kashti

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [108]:
# reading excel file
kashti=pd.read_excel('kashti.xlsx')
kashti

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [109]:
# to text file
kashti.to_csv('kashti.txt',sep='\t')

In [110]:
#  reading text file
kashti=pd.read_csv('kashti.txt',sep='\t')
kashti

,Unnamed: 0.1,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

# 5 using your own data

In [2]:
import pandas as pd
df = pd.read_csv('database.csv')
df

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [3]:
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

# 6 reverse row order

In [4]:
import pandas as pd
import seaborn as sns

df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [8]:
# to check in descending order
df.loc[::-1].head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True