# 10 minutes of pandas through library documentation

In [1]:
#  imports libraries sucha as numpy and pandas
import numpy as np

import pandas as pd

Creating a Series by passing a list of values, letting pandas create a default integer index:

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
# np numerical python numpy hogi to access hoga, khali krne k liye bhi numpy use krna parta hy
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a NumPy array, with a datetime index using date_range() and labeled columns:

In [3]:
dates = pd.date_range("20230701", periods=10)

dates

DatetimeIndex(['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04',
               '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08',
               '2023-07-09', '2023-07-10'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(10, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2023-07-01  0.279515 -1.155211  1.233894 -0.411080
2023-07-02 -1.057206  0.873393 -0.981308  0.561127
2023-07-03  0.472078  0.632196 -1.903329 -1.640159
2023-07-04  0.292405 -0.362486  0.501701  0.173422
2023-07-05 -0.285683  1.080757  1.085205  0.904980
2023-07-06 -1.213307  2.053275 -0.643702 -0.376224
2023-07-07 -0.135699 -0.319162 -0.496449  2.444464
2023-07-08  1.422314  0.629274 -0.843841  0.444417
2023-07-09 -1.643813 -0.532463 -0.064379  0.999889
2023-07-10 -1.643529 -1.101420  0.731694  0.977716

Creating a DataFrame by passing a dictionary of objects that can be converted into a series-like structure:

In [5]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

The columns of the resulting DataFrame have different dtypes:

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object